{% extends "base.html" %}
{% block title %}Login - Vendas1{% endblock %}

{% block content %}
  <div class="card" style="max-width:460px;">
    <h2 style="margin-top:0;">Entrar</h2>

    <form method="post" action="/login">
      <input type="hidden" name="next_url" value="{{ next_url }}">

      <label>Email</label><br>
      <input name="email" type="email" required style="width:100%;padding:10px;border-radius:10px;border:1px solid #2a3445;"><br><br>

      <label>Senha</label><br>
      <input name="password" type="password" required style="width:100%;padding:10px;border-radius:10px;border:1px solid #2a3445;"><br><br>

      <button class="btn" type="submit">Entrar</button>
    </form>
  </div>
{% endblock %}