{% extends "base.html" %}
{% block title %}Cadastro - Vendas1{% endblock %}

{% block content %}
  <div class="card" style="max-width:520px;">
    <h2 style="margin-top:0;">Criar conta</h2>

    <form method="post" action="/register">
      <label>Nome</label><br>
      <input name="name" required style="width:100%;padding:10px;border-radius:10px;border:1px solid #2a3445;"><br><br>

      <label>Email</label><br>
      <input name="email" type="email" required style="width:100%;padding:10px;border-radius:10px;border:1px solid #2a3445;"><br><br>

      <label>Região</label><br>
      <input name="region" required style="width:100%;padding:10px;border-radius:10px;border:1px solid #2a3445;"><br><br>

      <label>Senha</label><br>
      <input name="password" type="password" required style="width:100%;padding:10px;border-radius:10px;border:1px solid #2a3445;"><br><br>

      <button class="btn" type="submit">Cadastrar</button>
    </form>
  </div>
{% endblock %}